<% if current_user.event_manager? %>
  <div class="flex flex-col gap-4">
    <div class="border-l-4 pl-4 py-2 flex flex-col border-blue-800">
      <h2>Seu lucro total na plataforma: <%= number_to_currency 20_000 %></h2>
      <p>No último mês: R$2.000,00</p>
    </div>

    <div class="grid grid-cols-2 w-full mt-6 gap-10">
      <div class="flex flex-col gap-8">
        <h2>Seus Eventos</h2>

        <div class="ml-6 flex gap-16 text-center items-center">
          <div id="created-events">
            <strong class="text-3xl underline underline-offset-8 decoration-primary"><%= @events_count %></strong>

            <p class="mt-4"><%= @events_count == 1 ? 'Evento Criado' : 'Eventos Criados' %></p>
          </div>

          <div class="h-full w-px bg-gray-300"></div>

          <div id="published-events">
            <strong class="text-3xl underline underline-offset-8 decoration-primary"><%= @published_events_count %></strong>

            <p class="mt-4"><%= @published_events_count == 1 ? 'Evento publicado' : 'Eventos Publicados' %></p>
          </div>
        </div>

        <div class="mt-6">
          <h3 class="mb-3 text-primary font-bold">Últimos Eventos Publicados</h3>

          <% @last_published_events.each do |event| %>
            <%= link_to event_path(event) do %>
              <div class="mb-3 rounded w-full h-24 bg-slate-500 bg-opacity-5 shadow flex gap-4 pr-4 cursor-pointer hover:shadow-md duration-150">
                <%= image_tag url_for(event.logo), class: "h-full w-[100px]" %>

                <div class="w-full flex justify-between">
                  <div class="flex flex-col h-full justify-center gap-1">
                    <strong><%= event.name %></strong>
                        <p class="text-sm"><span class="font-bold">Quando?</span>
                      <% if event.start_date > Time.current %>
                        Começa em <%=  distance_of_time_in_words event.start_date, Time.now %>
                      <% elsif event.end_date.present? && event.end_date < Time.current %>
                        O evento terminou há <%=  distance_of_time_in_words event.start_date, Time.now %>
                      <% else %>
                        O evento já começou! Iniciado <%=  distance_of_time_in_words event.start_date, Time.now %> atrás
                      <% end %>
                    </p>
                  </div>

                  <div class="flex gap-4">
                    <div class="h-full w-px bg-gray-300 "></div>

                    <div class="h-full w-full flex flex-col items-center justify-center text-center">
                      <strong class="text-lg"><%= event.participants_count %> / <%= event.participants_limit %></strong>
                      <p class="text-sm text-wrap">ingressos<br />
                        vendidos</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% elsif current_user.admin? %>
  <%= render 'dashboard/admin' %>
<% end %>
