<h1>Reenviar instruções de confirmação</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form">
    <div class="input_container">
        <%= f.label :email, class:'input_label' %>
        <%= f.email_field :email, autofocus: true, class: 'input', autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <%= f.submit "Reenviar instruções de confirmação", class: 'form_button' %>
  </div>
<% end %>

<div class="grid grid-cols-3 gap-4 w-2/3 mt-12">
  <%= render "devise/shared/links" %>
</div>
