<div class="bg-white p-10 shadow-md rounded">
  <div class="flex items-center justify-between mb-10">
    <h1>Lotes de Ingresso - Evento: <%= @event.name %></h1>

    <div class="flex gap-4">
      <%= link_to '+ Lote', new_event_ticket_batch_path(@event), class: 'form_button' %>
    </div>
  </div>

  <section class="flex flex-col gap-4">
    <% if @ticket_batches.any? %>
    <table class="w-full text-left table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2 border-b border-blue-gray-500">Nome</th>
              <th class="px-4 py-2 border-b border-blue-gray-500">Vendido/Total</th>
              <th class="px-4 py-2 border-b border-blue-gray-500">Valor</th>
              <th class="px-4 py-2 border-b border-blue-gray-500">Desconto</th>
              <th class="px-4 py-2 border-b border-blue-gray-500">Data de início</th>
              <th class="px-4 py-2 border-b border-blue-gray-500">Data de fim</th>
              <th class="px-4 py-2 border-b border-blue-gray-500"></th>
            </tr>
            </thead>
            <tbody>
              <% @ticket_batches.each do |batch| %>
                <tr class="even:bg-gray-100">
                  <td class="px-4 py-2 border-b border-blue-gray-100"><%= batch.name%></td>
                  <td class="px-4 py-2 border-b border-blue-gray-100"><%= batch.sold_tickets_count %> - <%= batch.tickets_limit %></td>
                  <td class="px-4 py-2 border-b border-blue-gray-100"><%= number_to_currency batch.ticket_price %></td>
                  <td class="px-4 py-2 border-b border-blue-gray-100"><%= TicketBatch.human_enum_name(:discount_option, batch.discount_option) %></td>
                  <td class="px-4 py-2 border-b border-blue-gray-100"><%= l(batch.start_date.to_date)%></td>
                  <td class="px-4 py-2 border-b border-blue-gray-100"><%= l(batch.end_date.to_date)%></td>
                  <td class="px-4 py-2 border-b border-blue-gray-100">
                    <div class="flex gap-4 items-center justify-end">
                      <%= link_to edit_event_ticket_batch_path(@event, batch), class: 'alert_button', data: {test_id: "edit-#{batch.id}"} do %>
                        <img src="<%= asset_path('edit.svg')%>" class="h-6 w-6"/>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    <% else %>
      <h2 class="font-bold text-lg text-textPrimary">Nenhum Lote de Ingresso cadastrado</h2>
    <% end %>
  </section>
</div>
