<div class="flex items-center justify-between mb-10">
  <h1>Lotes de Ingresso - Evento: <%= @event.name %></h1>

  <div class="flex gap-4">
    <%= link_to '+ Lote', new_event_ticket_batch_path(@event), class: 'outline_button' %>
  </div>
</div>

<section class="flex flex-col gap-4">
  <% if @ticket_batches.any? %>
    <% @ticket_batches.each do |batch| %>
      <div class="flex gap-8 border-2 border-primary rounded-md overflow-hidden bg-projectPaperWhite w-2/3">
        <div class="flex flex-col gap-4 bg-primary text-backgroundWhite px-4 py-8 items-center justify-center">
          <p class="font-bold text-primaryLight">Vendas:</p>
          <p class="font-bold"><%= l batch.start_date, format: :short %> <span class="font-normal">até</span> <%= l batch.end_date, format: :short %></p>
        </div>

        <div class="flex flex-col font-mono px-4 py-8 gap-4">
         <p class="font-extrabold text-primary text-2xl font-sans"></span><%= batch.name %></p>
         <p class="font-normal text-textSecondary"><span class="font-bold text-textPrimary">Valor dos Ingressos: </span><%= number_to_currency batch.ticket_price %></p>
         <p class="font-normal text-textSecondary"><span class="font-bold text-textPrimary">Limite de Ingressos: </span><%= batch.tickets_limit %></p>
         <p class="font-normal text-textSecondary"><span class="font-bold text-textPrimary">Opção de Desconto: </span><%= TicketBatch.human_enum_name(:discount_option, batch.discount_option)%> </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2 class="font-bold text-lg text-textPrimary">Nenhum Lote de Ingresso cadastrado</h2>
  <% end %>
</section>