<h1><%= @schedule.event.name %> - Agenda do dia <%= l(@schedule.date.to_date, format: :short)%></h1>

<div class="flex gap-4">
  <%= link_to 'Adicionar atividade', new_event_schedule_item_path(@schedule.event, @schedule),
    class: 'button-primary'
  %>
</div>

<div class="mt-4" data-controller="schedule">
  <%= @schedule_items.each do |item| %>
    <p> <%= item.name %>
  <% end %>
</div>
