<div class="bg-white p-10 shadow-md rounded">
  <div>
    <%= link_to 'Criar Evento', new_event_path, class: 'button-primary'%>
  </div>

  <div class="mt-4">
    <% if @events.any? %>
      <table class="w-full text-left table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2 border-b border-blue-gray-500">Status</th>
            <th class="px-4 py-2 border-b border-blue-gray-500">Nome</th>
            <th class="px-4 py-2 border-b border-blue-gray-500">limite de participantes</th>
            <th class="px-4 py-2 border-b border-blue-gray-500">quando</th>
            <th class="px-4 py-2 border-b border-blue-gray-500"></th>
          </tr>
          <tbody>
            <% @events.kept.each do |e| %>
              <tr class="even:bg-gray-100">
                <td class="px-4 py-2 border-b border-blue-gray-100"><p class="<%=e.status == 'published' ? "badge-green" : "badge-orange" %>"><%= Event.human_enum_name(:status, e.status) %></p></td>
                <td class="px-4 py-2 border-b border-blue-gray-100"><%= e.name %></td>
                <td class="px-4 py-2 border-b border-blue-gray-100"><%= e.participants_limit%></td>
                <td class="px-4 py-2 border-b border-blue-gray-100"><%= l(e.start_date.to_date)%></td>
                <td class="px-4 py-2 border-b border-blue-gray-100">
                  <div class="flex gap-4 items-center">
                    <%= link_to 'Gerenciar', event_path(e), class: 'button-secondary m-0 bg-white' %>
                    <%= button_to event_path(e), method: :delete, class: 'bg-red-500 p-2 m-0 hover:bg-red-700 rounded', data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja deletar o evento:\n#{e.name}", test_id: "delete-#{e.id}" } do %>
                      <%= bin_icon(class: 'h-6 w-6 fill-neutral-50') %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    
    <% else %>
      <p>Você não possui eventos cadastrados.</p>
    <% end %>
  </div>
</div>
