<div class="bg-white p-10 rounded shadow-md">
<div class="flex items-center justify-between">
  <div class="flex items-center gap-4">
    <% if @event.logo.attached? %>
      <div class="w-16 h-16 overflow-hidden">
        <%= image_tag url_for(@event.logo), class: 'object-contain h-full w-full' %>
      </div>
    <% else %>
      <div class="w-16 h-16 overflow-hidden rounded-lg border-2 border-primary">
        <%= image_tag "no_logo.png", class: 'object-contain h-full w-full' %>
      </div>
    <% end %>
    <h1 class="font-bold"><%= @event.name %></h1>
  </div>

  <div class="flex gap-2 h-full">
    <% if @event.draft? %>
      <%= button_to 'Publicar', publish_event_path(@event), method: :patch, class: 'outline_button' %>
    <% end %>
    <%= link_to 'Editar', edit_event_path(@event), class: 'outline_button' %>
    <%= button_to 'Excluir', event_path(@event), method: :delete, class: 'danger_button h-full w-full', data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja deletar o evento:\n#{@event.name}", test_id: "delete-#{@event.id}" }  %>
    </div>
</div>

<section class="flex mt-8">
  <article class="flex flex-col gap-4 border-r border-primary pr-10">
    <% if @event.banner.attached? %>
      <div class="aspect-[4/1] overflow-hidden mb-8">
        <%= image_tag url_for(@event.banner), class: 'object-contain h-full w-full' %>
      </div>
    <% else %>
      <div class="aspect-[4/1] overflow-hidden border-primary border-2 rounded-3xl mb-8">
        <%= image_tag "no_banner.png", class: 'object-contain h-full w-full' %>
      </div>
    <% end %>

    <p class="font-light text-textSecondary">
      <% if @event.draft? %>
        <span class="text-warning font-bold"><%= Event.human_enum_name(:status, @event.status)%> 🏷️</span>
      <% else %>
        <span class="text-success font-bold"><%= Event.human_enum_name(:status, @event.status)%> ✅</span>
      <% end %>
    </p>

    <% if @event.published?%>
      <p class="font-light text-textSecondary">
        <span class="font-bold text-textPrimary">Ingressos Vendidos:</span>
        <%= @event.participants_count %> / <%= @event.participants_limit %>
      </p>
    <% else %>
      <p class="font-light text-textSecondary">
        <span class="font-bold text-textPrimary">Limite de Participantes:</span>
        <%= @event.participants_limit %>
      </p>
    <% end %>

    <p class="font-bold text-textPrimary">Evento <%= Event.human_enum_name(:event_type, @event.event_type)%></p>

    <p class="font-light text-textSecondary">
      <span class="font-bold text-textPrimary">Site do Evento:</span>
      <%= @event.url %>
    </p>

    <% if @event.event_place %>
      <p class="font-light text-textSecondary">
        <span class="font-bold text-textPrimary">Local de Evento:</span>
        <%= "#{@event.event_place.street}, #{@event.event_place.number}" %>
      </p>
    <% end %>

    <div class="font-light text-textSecondary">
      <%= render layout: 'layouts/action_text/contents/content' do %>
      <%= @event.description %>
      <% end %>
    </div>
  </article>

  <aside class="flex flex-col gap-4 items-end pl-10 min-w-fit" data-shedule-items>
    <h2 class="text-right">Agendas do Evento</h2>
      <% @event.schedules.order(date: :asc).each do |schedule| %>
        <%= link_to event_schedule_path(@event, schedule), class: "text-right justify-end underline underline-offset-4 decoration-primary hover:bg-textPrimary/15 p-3 rounded-md transition duration-150 font-bold hover:brightness-90" do %>
          Dia <%= l schedule.date.to_date, format: :short %>
        <% end %>
      <% end %>
  </aside>
</section>