<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form">
    <div class="input_container">
      <%= f.label :email, "E-mail", class: 'input_label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>

    <div class="input_container">
      <%= f.label :password, "Senha", class: 'input_label' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex gap-2 items-center">
        <%= f.check_box :remember_me, class: 'text-primary h-5 w-5' %>
        <%= f.label :remember_me, class: 'input_label' %>
      </div>
    <% end %>


    <%= f.submit "Entrar", class: 'form_button' %>
  </div>
<% end %>

<div class="grid grid-cols-3 gap-4 w-2/3 mt-12">
  <%= render "devise/shared/links" %>
</div>
