<section class="max-w-[40vw] min-w-[30vw] mx-auto">
    <% @feedbacks.each do |feedback|%>
        <div class="bg-white rounded mb-10 shadow-md p-10 w-full">
            <p><%= feedback.participant_username%></p>
            <div class="flex gap-2">
                <span><%= feedback.mark%></span>
                <% feedback.mark.times do %>
                    <img src="<%=asset_path('star.svg')%>" alt="Star" class="w-6">
                <% end %>
                <% (5 - feedback.mark).times do%>
                    <img src="<%=asset_path('star-outline.svg')%>" alt="Star" class="w-6">
                <% end %>
            </div>
        
            <h2><%= feedback.title %></h2>
            <p><%= feedback.comment%></p>
        </div>
    <% end %>
</section>
