<h1>Cadastrar Palavra-Chave</h1>

<%= form_with model: @keyword do |f| %>
  <div class="form">
    <div class="input_container">
      <%= f.label :value, class: 'input_label' %>
      <%= f.text_field :value, class: 'input' %>

      <% if @keyword.errors[:value].any? %>
          <% @keyword.errors.full_messages_for(:value).each do |e| %>
            <span class="form_error"><%= e %></span>
          <% end %>
      <% end %>
    </div>

    <%= f.submit "Cadastrar", class: 'form_button' %>
  </div>
<% end %>