<h2>Cadastro de Atividade</h2>

<%= form_with model: [@schedule.event, @schedule_item] do |f| %>
  <div class="form" data-controller="schedule-item">

    <div class="input_container">
      <div class="flex gap-4 justify-center">
        <div>
          <%= f.radio_button :schedule_type, 'interval', data: { action: "change->schedule-item#toggleFields" } %>
          <%= f.label :schedule_type_interval, 'Intervalo' %>
        </div>

        <div>
          <%= f.radio_button :schedule_type, 'activity', data: { action: "change->schedule-item#toggleFields" }, checked: true %>
          <%= f.label :schedule_type_activity, 'Atividade' %>
        </div>
      </div>
    </div>

    <div class="input_container">
      <%= f.label :name %>
      <%= f.text_field :name, class: "input w-full" %>
      <% if @schedule_item.errors[:name].any? %>
        <% @schedule_item.errors.full_messages_for(:name).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container" data-schedule-item-target="description">
      <%= f.label :description %>
      <%= f.text_field :description, class: "input w-full" %>
      <% if @schedule_item.errors[:description].any? %>
        <% @schedule_item.errors.full_messages_for(:description).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :start_time %>
      <%= f.time_field :start_time, class: "input w-full" %>
      <% if @schedule_item.errors[:start_time].any? %>
        <% @schedule_item.errors.full_messages_for(:start_time).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :end_time %>
      <%= f.time_field :end_time, class: "input w-full" %>
      <% if @schedule_item.errors[:end_time].any? %>
        <% @schedule_item.errors.full_messages_for(:end_time).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container" data-schedule-item-target="responsibleName">
      <%= f.label :responsible_name %>
      <%= f.text_field :responsible_name, class: "input w-full" %>
      <% if @schedule_item.errors[:responsible_name].any? %>
        <% @schedule_item.errors.full_messages_for(:responsible_name).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container" data-schedule-item-target="responsibleEmail">
      <%= f.label :responsible_email %>
      <%= f.text_field :responsible_email, class: "input w-full" %>
      <% if @schedule_item.errors[:responsible_email].any? %>
        <% @schedule_item.errors.full_messages_for(:responsible_email).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <%= f.submit 'Salvar', class: 'form_button' %>
  </div>
<% end %>
