<h1>Novo Local</h1>

<%= form_with model: @event_place do |f| %>
  <div class="form">
    <div class="input_container">
      <%= f.label :name, class: 'input_label' %>
      <%= f.text_field :name, class: "input" %>
      <% if @event_place.errors[:name].any? %>
        <% @event_place.errors.full_messages_for(:name).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :street, class: 'input_label' %>
      <%= f.text_field :street, class: "input" %>
      <% if @event_place.errors[:street].any? %>
        <% @event_place.errors.full_messages_for(:street).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :number, class: 'input_label' %>
      <%= f.text_field :number, class: "input" %>
      <% if @event_place.errors[:number].any? %>
        <% @event_place.errors.full_messages_for(:number).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :neighborhood, class: 'input_label' %>
      <%= f.text_field :neighborhood, class: "input" %>
      <% if @event_place.errors[:neighborhood].any? %>
        <% @event_place.errors.full_messages_for(:neighborhood).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :city, class: 'input_label' %>
      <%= f.text_field :city, class: "input" %>
      <% if @event_place.errors[:city].any? %>
        <% @event_place.errors.full_messages_for(:city).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :zip_code, class: 'input_label' %>
      <%= f.text_field :zip_code, class: "input" %>
      <% if @event_place.errors[:zip_code].any? %>
        <% @event_place.errors.full_messages_for(:zip_code).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :state, class: 'input_label' %>
      <%= f.select :state, options_for_select([['AC', 'AC'], ['AL', 'AL'], ['AP', 'AP'], ['AM', 'AM'], ['BA', 'BA'], ['CE', 'CE'], ['DF', 'DF'], ['ES', 'ES'], ['GO', 'GO'], ['MA', 'MA'], ['MT', 'MT'], ['MS', 'MS'], ['MG', 'MG'], ['PA', 'PA'], ['PB', 'PB'], ['PR', 'PR'], ['PE', 'PE'], ['PI', 'PI'], ['RJ', 'RJ'], ['RN', 'RN'], ['RS', 'RS'], ['RO', 'RO'], ['RR', 'RR'], ['SC', 'SC'], ['SP', 'SP'], ['SE', 'SE'], ['TO', 'TO']]), {}, { class: 'input' } %>
      <% if @event_place.errors[:state].any? %>
        <% @event_place.errors.full_messages_for(:state).each do |e| %>
          <span class="form_error"><%= e %></span>
        <% end %>
      <% end %>
    </div>

    <div class="input_container">
      <%= f.label :photo, class: 'input_label' %>
      <%= f.file_field :photo, class: "input" %>
    </div>

    <%= f.submit "Cadastrar", class: 'form_button' %>
  </div>
<% end %>
