<h1>Nova Categoria</h1>

<%= form_with model: @category do |f| %>
  <div class="form">
    <div class="input_container">
      <%= f.label :name, class: 'input_label' %>
      <%= f.text_field :name, class: 'input' %>

      <% if @category.errors[:name].any? %>
          <% @category.errors.full_messages_for(:name).each do |e| %>
            <span class="form_error"><%= e %></span>
          <% end %>
      <% end %>
    </div>

    <%= f.submit 'Criar Categoria', class: 'form_button' %>
  </div>
<% end %>